extends layout

block content
    div(id='popCanvas')

block javascriptContent
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript',src='/javascripts/vendor/kinetic-v4.6.0.min.js')
    script(type='text/javascript',src='/javascripts/sugar.js')
    script(type='text/javascript',src='/javascripts/game.object.js')
    script(type='text/javascript',src='/javascripts/images.js')
    script(type='text/javascript',src='/javascripts/character.js')
    script(type='text/javascript',src='/javascripts/game.js')
    script(type='text/javascript',src='/javascripts/launcher.js')
    script(type='text/javascript',src='/javascripts/engine.js')
    script(type='text/javascript',src='/javascripts/index.js')